.module {
  padding-top: var(--navbar-height);
}

.timeAttackButton {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding-top: 9px;
  background: #ff9999;
  padding-inline: 1.25rem;

  display: inline-flex;
  place-items: center;

  &:hover {
    background: #ff4141;
  }

  @media (prefers-color-scheme: dark) {
    background: #660000;
  
    &:hover {
      background: #880000;
    }
  }

  svg {
    display: block;
    margin-left: 1rem;
    margin-right: -.25rem;
  }
}

.resultsOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  z-index: 1;

  width: 450px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  opacity: 1;

  display: flex;
  place-items: center;
  place-content: center;

  background: #d2d2d2;

  @media (prefers-color-scheme: dark) {
    background: #444
  }


  button {
    margin: 0;
  }

  &__closeButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.75rem;

    svg {
      display: block;
    }
  }

  .tableView {
    width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;

    p {
      margin: 0;

      + p {
        margin-top: .5rem;
      }

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }

    > div {
      flex-shrink: 1;
    }
  }
}


.tableView {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  button {
    margin: 0;
    margin-top: .5rem;
  }
}

.toggleFullTableWrapper {
  text-align: right;
}

.toggleFullTable {
  padding: .25rem 1rem;
  font-size: .75rem;
}