.input {
  label,
  legend {
    display: block;
    margin-bottom: 4px;
  }

  input {
    width: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.inputFieldWrapper {
  display: flex;
  place-items: center;
}

.splitInput {
  input {
    margin: 0;
  }

  input:first-child {
    margin-left: auto;
  }

  input:last-child {
    margin-right: auto;
  }

  span {
    margin: 0 0.5rem;
  }
}

.unstyledFieldset {
  border: none;
  margin-bottom: 0;
  padding: 0;
}
