.input {
  label {
    display: block;
    margin-top: 1rem;
  }

  input {
    width: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.inputFieldWrapper {
  display: flex;
  place-items: center;
}

.splitInput {

  input {
    margin: 0;
  }

  input:first-child {
    margin-left: auto;
  }

  input:last-child {
    margin-right: auto;
  }

  span {
    margin: 0 .5rem;
  }
}