@font-face {
  font-family: 'Noto Sans Mono Extra Condensed Bold';
  src: url(./fonts/Noto_Sans_Mono/static/NotoSansMono_ExtraCondensed/NotoSansMono_ExtraCondensed-Bold.ttf) format('truetype');
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --navbar-height: 4.5rem; // 72px
}

#root {
  text-align: center;
  width: 100%;
}

body {
  display: flex;
  place-items: center;
  min-height: 100svh; // smallest viewport height, so the page doesn't scroll because of address bar
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 1rem;
  overscroll-behavior: contain; // disabling pull to refresh

  @media (max-width: 47.999rem) and (max-height: 60rem) {
    place-items: start;
  }
}

form {
  user-select: none;
}

main {
  max-width: 450px;
  margin-inline: auto;
}