@font-face {
  font-family: 'Noto Sans Mono Extra Condensed Bold';
  src: url(./fonts/Noto_Sans_Mono/static/NotoSansMono_ExtraCondensed/NotoSansMono_ExtraCondensed-Bold.ttf) format('truetype');
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  text-align: center;
  width: 100%;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}

form {
  user-select: none;
}