.module {
}

.svg {
  width: 100%;
  max-height: calc(100vh - var(--navbar-height, 0) - var(--stopwatch-container-height, 0) - var(--numblock-top-part-height, 0) - 1rem);
  max-height: calc(100svh - var(--navbar-height, 0) - var(--stopwatch-container-height, 0) - var(--numblock-top-part-height, 0) - 1rem);

  rect {
    stroke: black;
    fill: #efefef;
    fill: var(--background);
    rx: 6px;
    ry: 6px;
    stroke-width: 2px;

    &:active {
      fill: green;
    }
  }

  text {
    pointer-events: none;
    user-select: none;
    fill: currentColor;
  }

  @media (prefers-color-scheme: dark) {
    rect {
      stroke: #444;
    }
  }
}

.inputFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.inputLabel {
  margin-top: 0;
  margin-bottom: 1rem * .25;
}

.penaltyAmount {
  margin: 0;
  padding-block: .5rem;
}

.penaltyAmountHighlight {
  font-weight: 700;
}

.trickyPenaltyAmountHighlight {
  text-decoration: underline;
  color: rgb(181, 0, 0);

  @media (prefers-color-scheme: dark) {
    color: rgb(255, 155, 155);
  }
}

.inputField {
  place-content: center;
  place-items: center;

  margin-top: 0;
  padding: 10px;
  border-radius: 6px;

  min-height: calc(1.4em + 20px);

  color: #1d1d1d;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);

  @media (prefers-color-scheme: dark) {
    color: #fff;
    color: var(--form-text);
    background-color: #161f27;
    background-color: var(--background);
  }

  span {
    animation: blinkblink 2s infinite;
  }
}

@keyframes blinkblink {
  from {
    opacity: 1;
  }
  59.9% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 0
  }
}

.controls {
  position: relative;
  margin-top: 1rem;

  button {
    margin: 0;
  }
}

.feedback {
  position: absolute;

  top: 100%;
  left: 50%;
  max-width: 100%;

  transform: translate(-50%, 0);
}

@keyframes glowSuccess {
  from {
    box-shadow: inset 0 0 3vw 1vw rgba(0, 255, 0, 0);
  }
  40% {
    box-shadow: inset 0 0 3vw 1vw rgba(0, 255, 0, .6);
  }
  60% {
    box-shadow: inset 0 0 3vw 1vw rgba(0, 255, 0, .6);
  }
  to {
    box-shadow: inset 0 0 3vw 1vw rgba(0, 255, 0, 0);
  }
}

.feedbackGlowSuccess {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
  animation: glowSuccess 1s 1;
}

@keyframes glowFailure {
  from {
    box-shadow: inset 0 0 3vw 1vw rgba(255, 0, 0, 0);
  }
  40% {
    box-shadow: inset 0 0 3vw 1vw rgba(255, 0, 0, .6);
  }
  60% {
    box-shadow: inset 0 0 3vw 1vw rgba(255, 0, 0, .6);
  }
  to {
    box-shadow: inset 0 0 3vw 1vw rgba(255, 0, 0, 0);
  }
}

.feedbackGlowFailure {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
  animation: glowFailure 1s 1;
}